<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../events.js" defer></script>
  </head>
  <body>
    <h1>Events</h1>
    <form action="">
      <label for="firstName">First Name</label><br />
      <input
        type="text"
        placeholder="Enter first name"
        name="firstName"
        id="firstName"
      /><br />
      <span id="error"></span><br />
      <label for="lastName">Last Name</label><br />
      <input
        type="text"
        placeholder="Enter last name"
        name="lastName"
        id="lastName"
      /><br />
      <span id="error"></span><br />
      <input type="submit" value="Submit" /><br />
    </form>
    <button>Click me</button>
  </body>
</html>
